:root {
  --main-color: #37474f;
  --aux-color: #4db6ac;
  --black: #000;
  --light-gray: #f2f2f2;
  --gray: #b0bec5;
  --white: #fff;
}

html body * {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--light-gray);
}

.navbar {
  background: var(--white);
}

.navbar__cart {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-top: 4px;
  padding: 10px !important
}

.cart {
  margin-top: 70px;
}

.cart__title {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.cart__title--small {
  font-size: 14px;
}

.cart__title {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 600;
}

.shopping-cart {
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 20px;
}

.shopping-cart__button {
  background: var(--aux-color);
  color: var(--white);
  font-size: 16px;
  transition: transform 0.2s ease-in;
}

.shopping-cart__button:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.15);
  color: var(--white);
}

.shopping-cart__button:focus {
  color: var(--white);
}

.shopping-cart__button:active {
  transition: transform 0.2s ease-out;
  transform: scale(0.98);
}

.cart-item {
  display: flex;
}

.cart-item__image {
  border-radius: 10px;
  height: 180px;
  margin-right: 30px;
  object-fit: cover;
  width: 180px;
}

.cart-item__wrapper {
  align-self: center;
}

.cart-item__title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

.cart-item__price {
  color: var(--aux-color);
  display: block;
  font-size: 16px;
  margin-top: 15px;
}

.cart-item__quantity {
  display: block;
  margin: 15px 0;
  text-align: center;
  width: 70px;
}

.cart-item__remove {
  color: var(--aux-color);
}

.cart-item__remove:hover {
  color: var(--main-color);
}

.details {
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 20px;
}

.details__title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.details__list {
  border-bottom: 2px solid var(--gray);
  margin-top: 30px;
}

.details__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details__empty {
  color: var(--aux-color);
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.details__total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.details__link {
  color: var(--aux-color);
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.details__button {
  background: var(--aux-color);
  display: block;
  color: var(--white);
  font-size: 16px;
  margin: 20px auto 0;
  transition: transform 0.2s ease-in;
}

.details__button:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.15);
  color: var(--white);
}

.details__button:focus {
  color: var(--white);
}

.details__button:active {
  transition: transform 0.2s ease-out;
  transform: scale(0.98);
}

/* SOBRESCRIÇÃO ESTILOS BOOTSTRAP */
/* ME DESCULPEM POR ISSO :( */

.navbar-brand {
  color: var(--main-color);
}

.navbar-nav > li > a {
  color: var(--main-color);
}

.navbar-nav > li > a:not(.navbar__cart):hover {
  background: var(--white);
  text-decoration: underline;
}

.navbar-nav > li > a:hover {
  background: var(--white);
  color: var(--aux-color);
  border-color: var(--aux-color);
}

.navbar__cart {
  padding: 10px !important
}
